

/* Large devices (desktops, less than 1476px)*/
@media (max-width: 1475.98px) {

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .navbar-expand-lg .navbar-nav .nav-link.lined:after {
    content: '';
    width: 2px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 7px;
    bottom: 0;
    background-color: red;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {

}


@media (max-width: 576px) {

}
